{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'appointment/appointment_details.css' %}">
</head>
<body>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <a href="/users/logout" class="btn btn-primary">Logout</a>
        </div>
    </div>
    <div class="container">
        <h2>Appointment Details</h2>
        <ul class="list-group">
            <li class="list-group-item">Doctor: Dr. {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</li>
            <li class="list-group-item">Date: {{ appointment.date }}</li>
            <li class="list-group-item">Start Time: {{ appointment.start_time }}</li>
            <li class="list-group-item">End Time: {{ appointment.end_time }}</li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
